<h1 mat-dialog-title data-cy="add-comment">Add comment</h1>
<form [formGroup]="form" class="add-comment-form">
  <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea formControlName="comment" matInput placeholder="Comment text..." data-cy="comment"></textarea>
  </mat-form-field>

  <button mat-stroked-button class="attachment" color="basic">
    <mat-icon> attachment</mat-icon><span class="ml-10">Add Attachment</span>
  </button>
</form>
<div mat-dialog-actions class="flex flex-end">
  <button mat-raised-button color="primary" (click)="submitHistoryUpdate()" data-cy="save-comment">Submit</button>
  <button mat-button (click)="dialogRef.close()" data-cy="cancel-comment">Cancel</button>
</div>
