<mat-card>
  <mat-card-title>
    <div class="flex flex-between">
      <span matBadge="0" matBadgePosition="after" matBadgeColor="accent" class="hide-text"
        >Alex Susha</span
      >
      <span class="mat-body-2 text-grey">10.04.2022 </span>
    </div>
  </mat-card-title>
  <mat-card-subtitle>zoomprism</mat-card-subtitle>

  <mat-card-content>
    <mat-chip-list>
      <mat-chip>Java</mat-chip>
      <mat-chip>Javascript</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More</button>
  </mat-card-actions>
</mat-card>
