<div class="candidate-details">
  <div class="wrapper">
    <table
      class="contact-info"
      mat-table
      *ngIf="candidate"
      [dataSource]="contactInformation || []"
    >
      <caption class="caption">
        Contact information
      </caption>

      <ng-container matColumnDef="name">
        <ng-container *matCellDef="let element">
          <td *ngIf="element.value" class="name" mat-cell>
            <div class="wrapper">
              <img class="icon" [src]="element.icon">
            </div>
            <div class="text">{{ element.name }}:</div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="value">
        <ng-container *matCellDef="let element">
          <td class="value" mat-cell *ngIf="element.value">{{ element.value }}</td>
        </ng-container>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <table
      class="attributes"
      mat-table
      *ngIf="candidate"
      [dataSource]="candidate.candidateAttributes || []"
    >
      <caption class="caption">
        Candidate attributes
      </caption>

      <ng-container matColumnDef="name">
        <ng-container *matCellDef="let element">
          <td *ngIf="element.value" class="name" mat-cell>
            <div class="wrapper">
              <img class="icon" [src]="element.attributeTypes.icon">
            </div>
            <div class="text">{{ element.attributeTypes.name }}:</div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="value">
        <ng-container *matCellDef="let element">
        <td class="value" mat-cell *ngIf="element.value">{{ element.value }}</td>
        </ng-container>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="wrapper">
    <button  mat-stroked-button color="primary" class="edit-button-regular" (click)="openEditModal()">
      <mat-icon>edit</mat-icon><span class="ml-10">Edit candidate</span>
    </button>

    <button  mat-stroked-button color="primary" class="edit-button-mobile" (click)="openEditModal()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
