table {
  margin-top: 20px;
  border-radius: 5px;

  &.mat-table {
    border-spacing: 1px;
  }

  th {
    font-size: 14px;
  }

  .mat-column-name {
    max-width: fit-content;
    min-width: 200px;
  }

  .mat-column-value {
    max-width: fit-content;
    min-width: 200px;
  }
}
