<div class="candidate-details">
  <div class="candidate-details__wrapper">
    <table
      class="contact-info"
      mat-table
      *ngIf="candidate"
      [dataSource]="contactInformation || []"
    >
      <caption class="contact-info__caption">
        Contact information
      </caption>

      <ng-container matColumnDef="name">
        <ng-container *matCellDef="let element">
          <td *ngIf="element.value" class="contact-info__name" mat-cell>
            <div class="contact-info__wrapper">
              <img class="contact-info__wrapper-icon" [src]="element.icon">
            </div>
            <div class="text">{{ element.name }}:</div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="value">
        <ng-container *matCellDef="let element">
          <td class="contact-info__value" mat-cell *ngIf="element.value">{{ element.value }}</td>
        </ng-container>
      </ng-container>

      <tr class="contact-info__row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <table
      class="attributes"
      mat-table
      *ngIf="candidate"
      [dataSource]="candidate.candidateAttributes || []"
    >
      <caption class="attributes__caption">
        Candidate attributes
      </caption>

      <ng-container matColumnDef="name">
        <ng-container *matCellDef="let element">
          <td *ngIf="element.value" class="attributes__name" mat-cell>
            <div class="attributes__wrapper">
              <img class="attributes__wrapper-icon" [src]="element.attributeTypes.icon">
            </div>
            <div class="text">{{ element.attributeTypes.name }}:</div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="value">
        <ng-container *matCellDef="let element">
        <td class="attributes__value" mat-cell *ngIf="element.value">{{ element.value }}</td>
        </ng-container>
      </ng-container>

      <tr class="attributes__row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="candidate-details__wrapper">
    <button mat-stroked-button color="primary" class="edit-button" (click)="openEditModal()">
      <mat-icon>edit</mat-icon><span class="ml-10">Edit candidate</span>
    </button>
  </div>
</div>
