<div class="header">
  <div class="avatar"></div>
  <div class="text">
    <div class="title"></div>
    <div class="subtitle"></div>
  </div>
</div>

<div class="middle-section">
  <div>
    <div class="rounded-background">
      <mat-icon>perm_phone_msg</mat-icon>
    </div>
    <div class="text">
      <div class="subtitle"></div>
      <div class="subtitle"></div>
    </div>
  </div>
  <div>
    <div class="rounded-background">
      <mat-icon>location_on</mat-icon>
    </div>
    <div class="subtitle"></div>
  </div>
</div>
