<div class="actions-wrapper flex flex-between">

  <div class="gap-10">
    <div class="col-12 col-10-sm buttons-wrapper">
      <button mat-raised-button color="primary" class="mr-10" (click)="openEditModal()">
        <mat-icon>edit</mat-icon><span class="ml-10">Edit candidate</span>
      </button>
      <button mat-stroked-button color="basic" (click)="openAddCommentModal()">
        <mat-icon> comment</mat-icon><span class="ml-10">Add comment</span>
      </button>
    </div>
  </div>
</div>
