<div class="sticky-bar">
  <div class="container flex flex-between">
    <div class="col-3">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Keywords</mat-label>
        <input
          (keyup.enter)="add($event)"
          matInput
          placeholder="Enter some keyword"
          [(ngModel)]="keywordsInput"
        />
      </mat-form-field>
    </div>
    <app-actions-bar></app-actions-bar>
  </div>
  <mat-progress-bar
    mode="indeterminate"
    color="primary"
    *ngIf="pageState.loading"
  ></mat-progress-bar>
</div>

<div class="container">
  <div class="mb-20">
    <mat-chip-list aria-label="Keywords selection">
      <mat-chip *ngFor="let keyword of keywordsList" (removed)="remove(keyword)">
        {{ keyword | titlecase }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="row content-container">
    <div class="col-5 col-10-sm" *ngFor="let candidate of candidatesList">
      <app-candidate-item [candidate]="candidate"></app-candidate-item>
    </div>
  </div>
  <mat-paginator 
    [length]="candidatesTotalAmount" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChanged($event)">
  </mat-paginator>
</div>

<ng-template #errorDisplay>
  <app-error-display></app-error-display>
</ng-template>
