@import 'src/styles/colors';

.sticky-bar {
    position: sticky;
    top: 0;
    background-color: $background;
    height: 90px;
    width: 100%;
    z-index: 1000;
}

.content-container {
    align-items: stretch;
}
