@import 'src/styles/colors';

.mat-badge-content {
  top: 7px;
  margin-right: -15px;
}

.sticky-bar{
    position: sticky;
    top: 0;
    background-color: $background;
    height: 90px;
    width: 100%;
    z-index: 1000;
}
