@use '@angular/material' as mat;
@import '~@angular/material/theming';

@include mat.core();

$mat-primary: (
  50: #e3f3ff,
  100: #bbe0ff,
  200: #8ccdff,
  300: #56b9ff,
  400: #22a8ff,
  500: #0098ff,
  600: #0089ff,
  700: #1a75fe,
  800: #2363eb,
  900: #2c3fcc,
  contrast: (
    50: #1D1D2B,
    100: #1D1D2B,
    200: #1D1D2B,
    300: #1D1D2B,
    400: #1D1D2B,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);


$primary: mat-palette($mat-primary, 600, 700, 900);
$secondary: mat-palette(mat.$cyan-palette, 200);
$accent: mat-palette( mat.$light-green-palette, A200, A100, A400);
$warn: mat-palette(mat.$red-palette, 500);

$background: #1D1D2B;
$middleBlue: #11376f;


$success: #28C265;
$warning: #FFEF63;

$primary-color: #0089FF;
$white: #E3E7FE;
$light-white: #FFFC;
$dark-back-color: #1D1D2B;
$light-back-color: #242636;
$error-color: #F44336;
$light-secondary-color: #363951;
$text-secondary: #A0A6D4;

$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
