@import 'colors';

.mat-toolbar {
  background: unset;
}

.mat-menu-panel {
  background: $background;
}

.mat-card-subtitle {
  color: $text-secondary;
}

.mat-card-title {
  color: $white;
}

.mat-chip {
  &.mat-standard-chip {
    background-color: $light-secondary-color;
    color: $text-secondary;
    border-radius: 8px;
  }
}

.mat-button {
  &.active {
    color: mat-color($secondary);
    position: relative;
  }
}

.mat-stroked-button:not(.mat-button-disabled) {
  border-color: $primary-color;
}

.mat-icon-button,
.mat-stroked-button,
.mat-raised-button {
  &:hover {
    opacity: 0.8;
  }
}

.mat-dialog-container {
  background-color: $background;
}

.mat-card {
  background-color: rgba(0, 0, 0, 40%);
  box-shadow: -10px -10px 20px 10px rgba(0, 0, 0, 50%);
}

.mat-badge.hide-text .mat-badge-content {
  color: transparent;
}
