@import 'colors';

.mat-toolbar {
  background: unset;
}

.mat-menu-panel {
  background: $background;
}

.mat-card-subtitle {
  color: $text-secondary;
}

.mat-card-title {
  color: $white;
}

.mat-chip {
  &.mat-standard-chip {
    background-color: $light-secondary-color;
    color: $text-secondary;
    border-radius: 8px;
  }
}
