@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import 'colors';
@import 'fonts';

@include mat.core();

$theme-typography: mat.define-typography-config(
  $font-family: $main-font
);

$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $theme-typography,
  )
);

@include mat-base-typography($theme-typography);  
@include mat-checkbox-typography($theme-typography);  
@include angular-material-typography($theme-typography);

@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);



