<form>
  <div class="flex-column">
    <mat-form-field appearance="fill">
      <mat-label>Firstname</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</form>
