<label class="desc-candidate-title" *ngIf='editable'>
  <mat-checkbox
    color="primary"
    class="desc-candidate-title-label"
    aria-label="desc-candidate-title"
    [checked]="checked"
    [value]="candidate.id"
    (change)="selectCandidate($event)"
  >
    {{candidate.id}}
  </mat-checkbox>
  <mat-icon color="warn" (click)="deleteClick()" class="remove-button">delete_forever</mat-icon>
</label>
<label class="desc-candidate-title" *ngIf='!editable'>
  {{candidate.id}}
</label>

<ng-container *ngFor="let type of attributeTypes">
  <app-merge-cell
    [value]='candidate.attributesMap.get(type.name)'
    (valueChange)='changeAttributeSelections(candidate.attributesMap.get(type.name), $event)'
    class="desc-candidate"
    [editable]='editable'>
  </app-merge-cell>
</ng-container>
