<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches"
               [class.expanded]="isExpanded"
               (closedStart)="updateExpandedStatus(false)"
               [opened]="mobileQuery.matches ? isExpanded : true">
    <app-sidenav [isExpanded]="isExpanded"></app-sidenav>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-navbar [isExpanded]="isExpanded"
                (toggleSidenav)="updateExpandedStatus(!isExpanded)"></app-navbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

