<div class="add-attribute">
  <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="addAttribute">Add attribute</button>
</div>

<table
  mat-table
  *ngIf="attributes"
  [dataSource]="attributes"
>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">

      <mat-form-field class="input-field"  *ngIf="element.isEdit" appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.name">
      </mat-form-field>
      <span *ngIf="!element.isEdit">
          {{ element.name }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field  class="input-field"  *ngIf="element.isEdit"  appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.label">
      </mat-form-field>
      <span *ngIf="!element.isEdit">
          {{ element.label }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let element">

      <mat-form-field  class="input-field"  *ngIf="element.isEdit"  appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.icon">
      </mat-form-field>

      <mat-icon *ngIf="!element.isEdit" >{{ element.icon }}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="input-field" appearance="fill" *ngIf="element.isEdit">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="element.basicType " >
          <mat-option *ngFor="let type of types" [value]="type.basicType">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="!element.isEdit">
          {{ element.basicType }}
      </span>

    </td>
  </ng-container>

  <ng-container matColumnDef="validation">
    <th mat-header-cell *matHeaderCellDef>Validation</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="input-field" *ngIf="element.isEdit" appearance="outline" >
        <mat-label>Validation</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.validation">
      </mat-form-field>
      <span *ngIf="!element.isEdit">
          {{ element.validation }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox   *ngIf="element.isEdit" [(ngModel)]="element.isIdentifier"></mat-checkbox>
      <span *ngIf="!element.isEdit">
         <mat-icon *ngIf="element.isIdentifier">check</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="multivalued">
    <th mat-header-cell *matHeaderCellDef>Multivalued</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox   *ngIf="element.isEdit" [(ngModel)]="element.isMultivalued"></mat-checkbox>
      <span *ngIf="!element.isEdit">
         <mat-icon *ngIf="element.isMultivalued">check</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-wrapper" *ngIf="!element.isEdit" >
        <button class="edit-button" (click)="element.isEdit = !element.isEdit">
          <mat-icon class="action-icons" >edit</mat-icon>
        </button>
        <button class="edit-button" >
          <mat-icon class="action-icons" >delete</mat-icon>
        </button>

      </div>
      <div class="btn-wrapper" *ngIf="element.isEdit" >
        <button class="edit-button" (click)="element.isEdit = !element.isEdit">
          <mat-icon class="action-icons" >close</mat-icon>
        </button>
        <button class="edit-button" (click)="element.isEdit = !element.isEdit">
          <mat-icon class="save-icon" >save</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

