<div class="add-attribute">
  <button mat-raised-button
          color="primary"
          id="addAttribute"
          (click)="addRow()">
    <mat-icon class="mr-10">library_add</mat-icon>
    Add attribute
  </button>
</div>

<table
  mat-table
  *ngIf="attributes"
  [dataSource]="attributes"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="input-field"  *ngIf="element.isEdit; else dataView " appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.name">
      </mat-form-field>
      <ng-template #dataView>
          <span >
          {{ element.name }}
      </span>
      </ng-template>

    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field  class="input-field"  *ngIf="element.isEdit; else dataView  "  appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.label">
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.label }}
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let element">

      <mat-form-field  class="input-field"  *ngIf="element.isEdit; else dataView "  appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.icon">
      </mat-form-field>
      <ng-template #dataView>
      <mat-icon>{{ element.icon }}</mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="input-field" appearance="fill" *ngIf="element.isEdit; else dataView ">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="element.basicType " >
          <mat-option *ngFor="let type of types" [value]="type.basicType">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.basicType }}
      </span>
      </ng-template>

    </td>
  </ng-container>

  <ng-container matColumnDef="validation">
    <th mat-header-cell *matHeaderCellDef>Validation</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field class="input-field" *ngIf="element.isEdit; else dataView " appearance="outline" >
        <mat-label>Validation</mat-label>
        <input matInput [type]="'text'"  [(ngModel)]="element.validation">
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.validation }}
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox   *ngIf="element.isEdit ; else dataView "
                      [(ngModel)]="element.isIdentifier"
                      [color]="'primary'"
      ></mat-checkbox>
      <ng-template #dataView>
      <span >
         <mat-icon *ngIf="element.isIdentifier">check</mat-icon>
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="multivalued">
    <th mat-header-cell *matHeaderCellDef>Multivalued</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox   *ngIf="element.isEdit ; else dataView "
                      [(ngModel)]="element.isMultivalued"
                      [color]="'primary'"
      ></mat-checkbox>
      <ng-template #dataView>
      <span >
         <mat-icon *ngIf="element.isMultivalued">check</mat-icon>
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-wrapper" *ngIf="!element.isEdit; else dataView " >
        <button class="edit-button" (click)="onEdit(element)">
          <mat-icon class="action-icons">edit</mat-icon>
        </button>
        <button class="edit-button" (click)="openDialog($event, element)" [disabled]="inProgress">
          <mat-icon class="action-icons">delete</mat-icon>
        </button>

      </div>
      <ng-template #dataView>
      <div class="btn-wrapper" >
        <button class="edit-button" (click)="onEdit(element);onCancel(element.id)">
          <mat-icon class="action-icons">close</mat-icon>
        </button>
        <button class="edit-button" (click)="onAttributeSave(element)" >
          <mat-icon class="save-icon">save</mat-icon>
        </button>
      </div>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

