@import 'src/styles/colors';
@import 'src/styles';


.add-attribute{
    display: flex;
    justify-content: flex-end;
    margin-top:38px;
    margin-right:40px;
}

button{
    padding: 12px 16px;
    height: 40px;
    background: $primary-color;
    border-radius: 4px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $white;
}

.btn-wrapper{
  display: flex;
}

.edit-button{
  height: 40px;
  background: transparent;
  border: none;
}

.save-icon{
  color:$primary-color;
}


table{
    margin:60px 40px;
}

table td, table th {
    padding: 2px 10px;
    background: $dark-back-color;
}

table th{
    width: 150px;
}

.action-icons {
    color: $text-secondary;
    cursor: pointer;
}

.input-field {
 margin-top: 10px;

}


mat-checkbox {
  margin-left: 20px;
}
