@import 'src/styles/colors';
@import 'src/styles';


:host {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 60px;
}

.add-attribute {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.edit-button {
  cursor: pointer;
  height: 40px;
  background: transparent;
  border: none;
}

.save-icon {
  color: $primary-color;
}

table {
  width: 100%;

  td, th {
    padding: 2px 10px;
    background: $dark-back-color;
  }

  th {
    width: 150px;
  }
}

.action-icons {
  color: $text-secondary;
  cursor: pointer;
}

.input-field {
  margin-top: 10px;
}

mat-checkbox , .checkbox-wrapper {
 margin-left: 20px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0px 0px 1rem;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  @media(max-width: $md)
  {
    .mat-cell,
    .mat-header-cell {
      font-size:12px
    }

    .material-icons {
      font-size:20px
    }
  }


}
