@import 'src/styles/colors';
@import 'src/styles';

:host {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 60px;
}

.add-attribute {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.edit-button {
  cursor: pointer;
  height: 40px;
  background: transparent;
  border: none;
}

.save-icon {
  color: $primary-color;
}

table {
  width: 100%;

  td, th {
    padding: 2px 10px;
    background: $dark-back-color;
  }

  th {
    width: 150px;
  }
}

.action-icons {
  color: $text-secondary;
  cursor: pointer;
}

.input-field {
  margin-top: 10px;
}

mat-checkbox {
  margin-left: 20px;
}

.checkbox-wrapper {
 margin-left: 20px;
}
