<div class="add-attribute">
  <button mat-raised-button
          color="primary"
          id="addAttribute"
          (click)="addRow()">
    <mat-icon class="mr-10">library_add</mat-icon>
    Add attribute
  </button>
</div>
<form [formGroup]="VOForm" >
  <ng-container formArrayName="VORows">
<table
  mat-table
  *ngIf="attributes"
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <span >
          {{ element.get('id').value }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field class="input-field"  *ngIf="element.get('isEdit').value; else dataView "  appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput [type]="'text'" formControlName="name">
        <mat-error *ngIf="element.controls['name'].errors['required']">{{ 'This field is required!' }}</mat-error>
      </mat-form-field>

      <ng-template #dataView>
      <span >
          {{ element.get('name').value }}
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="input-field"  *ngIf="element.get('isEdit').value; else dataView  "  appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [type]="'text'"  formControlName="label">
        <mat-error *ngIf="element.controls['label'].errors['required']">{{ 'This field is required!' }}</mat-error>
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.get('label').value }}
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">

      <mat-form-field  class="input-field"  *ngIf="element.get('isEdit').value; else dataView "  appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput [type]="'text'"  formControlName="icon">
        <mat-error *ngIf="element.controls['icon'].errors['required']">{{ 'This field is required!' }}</mat-error>
      </mat-form-field>
      <ng-template #dataView>
      <mat-icon>{{ element.get('icon').value }}</mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field class="input-field" appearance="fill" *ngIf="element.get('isEdit').value; else dataView ">
        <mat-label>Type</mat-label>
        <mat-select   [(value)]="element.get('basicType').value " formControlName="basicType" >
          <mat-option *ngFor="let type of types" [value]="type.basicType">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="element.controls['basicType'].errors['required']">{{ 'This field is required!' }}</mat-error>
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.get('basicType').value }}
      </span>
      </ng-template>

    </td>
  </ng-container>

  <ng-container matColumnDef="validation">
    <th mat-header-cell *matHeaderCellDef>Validation</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field class="input-field" *ngIf="element.get('isEdit').value; else dataView " appearance="outline" >
        <mat-label>Validation</mat-label>
        <input matInput [type]="'text'"  formControlName="validation">
        <mat-error *ngIf="element.controls['validation'].errors['required']">{{ 'This field is required!' }}</mat-error>
      </mat-form-field>
      <ng-template #dataView>
      <span >
          {{ element.get('validation').value }}
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-checkbox   *ngIf="element.get('isEdit').value ; else dataView "
                      formControlName="isIdentifier"
                      [color]="'primary'"
      ></mat-checkbox>
      <ng-template #dataView>
      <span class="checkbox-wrapper" >
         <mat-icon *ngIf="element.get('isIdentifier').value">check</mat-icon>
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="multivalued">
    <th mat-header-cell *matHeaderCellDef>Multivalued</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-checkbox   *ngIf="element.get('isEdit').value; else dataView "
                      formControlName="isMultivalued"
                      [color]="'primary'"
      ></mat-checkbox>
      <ng-template #dataView>
       <span class="checkbox-wrapper" >
         <mat-icon *ngIf="element.get('isMultivalued').value">check</mat-icon>
      </span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <div class="btn-wrapper" *ngIf="!element.get('isEdit').value; else dataView " >
        <button mat-icon-button class="edit-button" (click)="onEdit(element)">
          <mat-icon class="action-icons">edit</mat-icon>
        </button>
        <button mat-icon-button class="edit-button" (click)="openDialog($event, element)" [disabled]="inProgress">
          <mat-icon class="action-icons">delete</mat-icon>
        </button>
      </div>

      <ng-template #dataView>
      <div class="btn-wrapper" >
        <button mat-icon-button class="edit-button" (click)="onEdit(element);onCancel(element.id)">
          <mat-icon class="action-icons">close</mat-icon>
        </button>
        <button mat-icon-button class="edit-button" (click)="onAttributeSave(element)" >
          <mat-icon class="save-icon">save</mat-icon>
        </button>
      </div>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
  </ng-container>
</form>
