<h1 mat-dialog-title>Add comment</h1>
<form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea formControlName="comment" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
<div mat-dialog-actions class="flex flex-end">
  <button
    mat-raised-button
    color="primary"
    (click)="submitHistoryUpdate()"
    [disabled]="modalState.loading"
  >
    Submit
  </button>
  <button mat-button (click)="closeModal()" [disabled]="modalState.loading">Cancel</button>
</div>
