<mat-card class="card" *ngIf="historyItem">
  <mat-card-content class="card-item" *ngIf="(candidate | async) as currentCandidate">
    <div class="candidate-info">
      <app-avatar class="profile-icon" [width]="50" [height]="50" 
      [firstName]="currentCandidate?.firstName"
      [lastName]="currentCandidate?.lastName"
      [status]="currentCandidate?.status"
      ></app-avatar>
      <h3 class="candidate-name">{{currentCandidate?.fullName}}</h3>
      <sup class="date">
        <div class="separator"></div>
        <p class="text">{{ historyItem.updateDate | date: 'MMM d, y h:mm' }}</p>
      </sup>
      <div class="options">
        <mat-icon (click)="toggleOptionsModal(MODAL_ACTIONS.OPEN)" *ngIf="!editMode; else editActions">more_vert</mat-icon>    
        <ng-template #editActions>
          <button mat-stroked-button class="cancel-editing" (click)="editModeOff()">
            <p>Cancel</p>
          </button>
          <button mat-stroked-button class='save-editing' (click)="applyEditingComment()">
            <p>Save</p>
          </button>
        </ng-template>
      </div>

      <div class="options-modal" *ngIf="showModal">
        <button (click)="editModeOn($event)" class="edit"><mat-icon class="icon">edit</mat-icon>
          <p class="text">Edit</p></button>
        <button class="delete"
          (click)="openDialog($event)"
        > 
          <mat-icon class="icon">delete_outline</mat-icon><p class="text">Delete</p></button>
      </div>
    </div>

    <div class="communication-info">
        <div [id]="historyItem.id + '_comment_text'" class="comment" *ngIf="!editMode; else editField">{{ historyItem.comment }}</div>

        <ng-template #editField>
          <div class="comment-editing-area">
            <fieldset>
              <legend>Comment:</legend>
              <span #textareaRef class="textarea" role="textbox" contenteditable>{{historyItem.comment}}</span>
            </fieldset>
          </div>
        </ng-template>

        <div class="attachment" *ngIf="attachment">
          <mat-icon class="icon"> attach_file</mat-icon>
          <div class="info">
            <p class="name">Document.pdf</p>
            <p class="size">3 MB PDF</p>
          </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

