@import 'src/styles';

.card {
  box-sizing: border-box;
  width: 100%;
  background-color: $light-back-color;
  margin-bottom: 40px;
  padding: 20px 20px 30px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 500;

  .card-item {
    .candidate-info{
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .profile-icon{
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .candidate-name{
        color: $text-secondary;
        margin: 0px 16px 0px 0px;
        font-size: 20px;
      }

      .date{
        display: flex;
        align-items: center;
        
        .separator{
          width: 3px;
          height: 3px;
          content: '';
          border-radius: 50%;
          background-color: $text-secondary;
          margin-right: 16px;
        }

        .text{
          font-size: 12px;
          color: $text-secondary;
        }
      }

      .options{
        margin-left: auto;
        cursor: pointer;

        .cancel-editing{
          border: none;
          color: $white;
        }

        .save-editing{
          border: 1px solid $primary-color;
          color: $primary-color;
        }

        p{
          margin: 0px;
        }
      }

      .options-modal{
        background-color: $light-secondary-color;
        border-radius: 4px;
        position: absolute;
        top: 68px;
        right: 20px;
        z-index: 1000;

        .edit, .delete{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 126px;
          cursor: pointer;
          margin: 10px 0px;
          background-color: inherit;
          border: none;
          color: $white;

          .text{
            width: 39px;  
            display: flex;
          }

          .icon{
            margin-right: 13px;
          }

          &:hover{
            background-color: $dark-back-color;
          }
        }
      }
    }

    .communication-info{
      margin-left: 70px;

      .comment{
        word-break: break-all;
        color: $white;
        font-weight: 400;
        font-size: 16px;
      }

      .comment-editing-area{
        fieldset{
          display: grid;
          border-radius: 4px;
          border: 1px solid $text-secondary;
          
          legend{
            color: $text-secondary;
            font-size: 10px;
            font-weight: 400;
          }

          .textarea{
            display: inline-block;
            width: 100%;
            background-color: transparent;
            overflow: hidden;
            padding: 0px;
            outline: none;
            border: none;
            font-size: 14px;
            font-weight: 400;
            color: $white;
          }

          .textarea[contenteditable]:empty::before {
            color: gray;
          }
        }
      }

      .attachment{
        margin-top: 30px;
        display: flex;
        align-items: center;
        border: 1px solid $text-secondary;
        border-radius: 4px;
        width: fit-content;
        min-width: 200px;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;

        .info{
          margin-left: 20px;

          .name, .size{
            margin: 0px;
          }

          .name{
            margin-bottom: 4px;
            color: $white;
          }

          .size{
            color: $text-secondary;
          }
        }
      }
    }
  }
}
