<div class="full-width row gap-10 flex-between">
  <div class="col-5 col-10-sm">
    <button mat-raised-button color="primary" class="mr-10" (click)="openEditModal()">
      <mat-icon>edit</mat-icon><span class="ml-10">Edit</span>
    </button>
    <button mat-stroked-button color="basic">
      <mat-icon> comment</mat-icon><span class="ml-10">Add comment</span>
    </button>
  </div>
  <div class="col-5 col-10-sm">
    <a mat-button [routerLink]="['./']" fragment="socialMedia">
      <span matBadge="4" matBadgeOverlap="false" matBadgeSize="small" matBadgeColor="accent"
        >Social Media</span
      >
    </a>
    <a mat-button [routerLink]="['./']" fragment="educations">
      <span matBadge="4" matBadgeOverlap="false" matBadgeSize="small" matBadgeColor="accent"
        >Educations</span
      >
    </a>
    <a mat-button [routerLink]="['./']" fragment="projects">
      <span matBadge="4" matBadgeOverlap="false" matBadgeSize="small" matBadgeColor="accent"
        >Projects</span
      >
    </a>
    <a mat-button [routerLink]="['./']" fragment="jobsHistory">
      <span
        matBadge="4"
        matBadgeOverlap="false"
        matBadgeSize="small"
        matBadgeColor="accent"
        [routerLink]="['./']"
        fragment="jobsHistory"
        >Jobs history</span
      >
    </a>
  </div>
</div>
