<div class="candidate-communications-body">
  <ng-container *ngIf="candidateHistory?.length; else historyIsEmpty">
    <ng-container *ngFor="let historyItem of candidateHistory">
      <app-communication-comment
        [historyItem]="historyItem"
        (commentDeleted)="deleteHistory($event.toString())"
      ></app-communication-comment>
    </ng-container>
  </ng-container>
</div>

<ng-template #historyIsEmpty>
  <span>History is empty. Click on "add comment button" for creating a comment.</span>
</ng-template>
