<div class="candidate-communications-body">
  <ng-container *ngIf="(candidateDetailService.historyOfCurrentCandidate$ | async)?.length; else historyIsEmpty">
    <ng-container *ngFor="let historyItem of (candidateDetailService.historyOfCurrentCandidate$ | async)">
      <app-communication-comment
        [historyItem]="historyItem"
        (commentDeleted)="candidateDetailService.deleteHistoryComment($event)"
        (commentWasUpdated)="candidateDetailService.updateComment($event)"
      ></app-communication-comment>
    </ng-container>
  </ng-container>
</div>

<ng-template #historyIsEmpty>
  <span>History is empty. Click on "add comment button" for creating a comment.</span>
</ng-template>
