@import 'src/styles/colors';
@import 'src/styles';

:host {
  padding: 60px 40px;
  display: flex;
  width: 100%;
}

.left-panel {
  width: 250px;
  display: flex;
  flex-direction: column;

  .avatar-section {
    display: flex;
  }

  .avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    app-avatar {
      margin-bottom: 20px;
    }

    .candidate-status {
      padding: 6px 20px;
      border-radius: 8px;
      cursor: default;
      font-weight: 500;
      color: $light-back-color;
    }
  }

  .hr-lines {
    font-weight: 500;
    font-size: 16px;
    color: $text-secondary;
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: '';
      width: calc(100% - 90px);
      height: 1px;
      position: absolute;
      display: block;
      right: 0;
      bottom: 8px;
      background-color: $text-secondary;
    }
  }
}

.right-panel {
  width: 100%;

  .account-info {
    margin: 30px 0 20px;
    min-height: 300px;

    div {
      display: flex;
    }

    .name {
      font-weight: 500;
      font-size: 36px;
      color: $white;
      margin: 0;
    }

    .location-title {
      display: flex;
      align-items: flex-end;
      margin: 0 0 6px 20px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: $text-secondary;

      .location-icon {
        font-size: 16px;
        text-align: center;
        width: 16px;
        height: 16px;
        margin-right: 3px;
      }
    }

    .last-contact {
      font-weight: 500;
      font-size: 20px;
      color: $text-secondary;
      margin-bottom: 60px;
    }
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

.main-container{
  display: flex;
  gap: 150px;
}

@media screen and (max-width: $md){
  .main-container {
    gap: 20px
  }
}

@media screen and (max-width: $sm){
  .main-container{
    display: block;
  }

  .left-panel {
    width: 80%;
  }

  .right-panel {
    .account-info {
      div {
        display: inline-block;
      }

      .location-title {
        margin: 10px 0;
      }
    }

  }

  .label-regular {
    display: none;
  }


}

@media screen and (min-width: $sm){
  .label-mobile {
    display: none;
  }
}
