@import 'src/styles/colors';

.candidate-detail-container {
  padding: 16px 16px 0;
}

.mat-badge-content{
  top: 4px;
  margin-right: -15px;
}


.image-frame {
  padding: 0;
  height: 200px;
  overflow: hidden;
  filter: brightness(20%);
  cursor: pointer;
  transition: 1s;

  &:hover {
    filter: none;
    height: 300px;
  }
}
