@import 'src/styles/colors';

.candidate-detail-container {
  padding: 16px 16px 0;
}

.mat-badge-content{
  top: 4px;
  margin-right: -15px;
}

.image-frame {
  padding: 0;
  height: 200px;
  overflow: hidden;
  filter: brightness(20%);
  cursor: pointer;
  transition: 1s;

  &:hover {
    filter: none;
    height: 300px;
  }
}

.upper-section {
  display: flex;
  padding: 20px;
  height: 300px;
  box-sizing: border-box;

  .text {
    padding: 12px 0 0 20px;
  }

  .mat-icon-button {
    align-self: flex-start;
    margin-left: auto;
  }
}

.location-icon {
  font-size: small;
  text-align: center;
  //transform: scale(0.7);

}

.mat-chip-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  gap: 10px;

  position: absolute;
  width: 119px;
  height: 28px;
  left: 100px;
  top: 390px;

}
.account-info {
  position: absolute;
  width: 350px;
  height: 185px;
  left: 395px;

  button {
    top: 60px;
  }
}






  .last-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0px;
    color: #A0A6D5;
  }



.flname{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 0px;
  color: #E3E7FE;
}


.location-title {
  display: flex;
  margin-top: 34px !important;
  margin-left: 10px;


}
.kay-word-container {
  margin-top: 80px;
  padding-left: 30px;
  padding-top: 58px;
}

.hr-lines{
  position: absolute;
  max-width: 500px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #A0A6D5;
  right: 60px;
  margin-top: 77px;
}
.hr-lines:after{
  content:" ";
  width: 160px;
  height: 0px;
  display: block;
  position: absolute;
  top: 50%;
  right: -180px;
  border: 1px solid #A0A6D5;
}

mat-chip {
  border-radius: 8px;
  color: #242636;
}
.keyword-chips{
  background-color: #363951 !important;
  color:  #A0A6D5 !important;
}
