$primary-color: rgb(55, 111, 252);
$dark-back-color: rgb(10, 10, 10);
$light-back-color: rgb(121, 121, 121);
$error-color: rgb(121, 1, 1);
$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);

.candidate-merge-container {
  margin: 20px 100px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  height: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  gap: 10px;
  display: flex;
  justify-content: center;
  
  .candidates-container {
    display: flex;
    gap: 10px; 
    overflow-x: auto;  
    
    .desc-candidate-container {    
      min-width: 300px;
      overflow-y: hidden;
      padding-bottom: 5px;

      .desc-candidate-title {
        height: 12vh;
        display: flex;
        position: relative;  
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        background-color: $dark-back-color;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: $box-shadow;
        border: 2px solid $light-back-color;
        box-sizing: border-box;
      
        .remove-button {
          cursor: pointer;
        }
      }
      
      .desc-candidate {
        height: 12vh;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: $error-color;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: $box-shadow;
      }
    }
    
    .candidates-container-titles {
      display: flex;
      gap: 10px;
    }
  }  

  .desc-result-container {
    min-width: 300px;

    .desc-result, .desc-result-title {
      height: 12vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      margin-top: 10px;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: $box-shadow;
    }

    .desc-result-title {
      border: 2px solid $error-color;
      position: relative;
    }

    .filled-result {
      border: 2px solid $primary-color;
    }

    .final-result {
      transition: 0.1s ease-in;
      border: 2px solid $primary-color;
    }
  }
  
  .desc-titles-container {
    min-width: 200px;

    .desc-title {
      height: 12vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: $box-shadow;
      border: 2px solid $light-back-color;
      box-sizing: border-box;
    }
  }
}

.nothing-merge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  text-align: center;
}
