<app-actions-bar-merge *ngIf="candidates.length"></app-actions-bar-merge>
<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="pageState.loading"
></mat-progress-bar>
<ng-container *ngIf="!pageState.loading">
  <table *ngIf="candidatesMatrixNotEmpty; else noCandidatesId" class="candidate-merge-container">
    <tr class="desc-titles-container">
      <div class="desc-title desc-title-first">
        <div class="content" *ngIf="candidates.length>1">
          <mat-checkbox
            class="checkbox"
            color="primary"
          >Hide similar attributes
          </mat-checkbox>
        </div>
      </div>
      <ng-container *ngFor="let attributeType of attributeTypes">
        <th class="desc-title">
          <div class="wrapper">
            <img class="icon" [src]="attributeType.icon">
          </div>
          {{attributeType.name}}
        </th>
      </ng-container>
    </tr>

    <div class="candidates-container">
      <ng-container *ngFor="let candidate of candidates; let first = first">
        <app-merge-candidate 
          class="merge-candidates"      
          [ngClass]="{'first-candidate': first}"   
          [candidate]='candidate'
          [attributeTypes]='attributeTypes'
          (delete)='deleteCandidate(candidate)'
        ></app-merge-candidate>
      </ng-container>
    
      <tr class="add-candidate">
        <app-merge-candidate
          class="merge-candidates"
          [candidates]="candidates"
          [addCandidate]="true"
          [attributeTypes]='attributeTypes'
        ></app-merge-candidate>
      </tr>

      <tr class="desc-result-container" *ngIf="candidates.length>1">
        <app-merge-candidate
          class="merge-candidates"
          [editable]='false'
          [candidate]='finalResult()'
          [attributeTypes]='attributeTypes'
        ></app-merge-candidate>
      </tr>
    </div>
  </table>

</ng-container>

<ng-template #noCandidatesId>
  <p class="nothing-merge">You have not selected candidates for the merge. Please add more candidates.</p>
  <div class="form-container">
    <mat-form-field appearance="fill" class="form-field">
    <mat-label>Select a candidate</mat-label>
    <mat-select>
      <mat-option *ngFor="let candidate of candidates" [value]="candidate">{{candidate.fullName}}</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
</ng-template>
