<mat-toolbar class="flex-between">
  <div class="flex align-center gap-20">
    <button mat-icon-button
            class="toggler"
            [class.active]="isExpanded"
            (click)="toggleSidenav.emit()">
      <mat-icon>auto_awesome_mosaic</mat-icon>
    </button>

    <button mat-stroked-button color="primary" (click)="back()" *ngIf="!checkIsMainPage()">
      <mat-icon>keyboard_backspace</mat-icon>
      <span class="ml-10">Back</span>
    </button>
  </div>

  <button mat-raised-button color="primary" (click)="openSignInDialog()">Sign in</button>
</mat-toolbar>
