<div>
  <h3 class="mat-display-1 mt-20" id="socialMedia">Social Media</h3>
  <div class="content"></div>
  <mat-divider></mat-divider>

  <h3 class="mat-display-1 mt-20" id="educations">Educations</h3>
  <div class="content"></div>
  <mat-divider></mat-divider>
  <h3 class="mat-display-1 mt-20" id="projects">Projects</h3>
  <div class="content"></div>
  <mat-divider></mat-divider>
  <h3 class="mat-display-1 mt-20" id="jobsHistory">Jobs history</h3>
  <div class="content"></div>
  <mat-divider></mat-divider>
</div>
