.desc-candidate-label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .desc-candidate-data {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .desc-candidate-checkbox-hidden:hover:enabled + .desc-candidate-data {
    // border: 2px solid rgba(150, 224, 40, 50%);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .desc-candidate-checkbox-hidden:hover:checked + .desc-candidate-data {
    border: 2px solid rgb(151, 224, 40, 90%);
  }

  .desc-candidate-checked {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
  }

  .desc-candidate-checkbox-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    box-sizing: border-box;

    &:checked ~ .desc-candidate-checked {
      visibility: visible;
      color: rgb(151, 224, 40);
    }

    &:checked ~ .desc-candidate-data {
      transition: 0.05s linear;
      border: 2px solid rgb(151, 224, 40);
    }
  }
}