@import 'styles/colors';
@import 'styles/commonMargins';
@import 'src/styles/breakpoints';
@import 'src/styles/grid';

@include commonMargins();
@include gridClass();

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: mat-color($primary);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Roboto Mono', monospace;

  background: linear-gradient(
    to bottom,
    $background 30%,
    $middleBlue 80%,
    mat-color($primary) 120%
  );
  color: white;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  padding: 20px 30px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mat-dialog-container {
  background-color: $background;
}

.snackbar {
  &--success {
    background-color: $success;
    color: white;
  }

  &--error {
    background-color: mat-color($warn);
    color: white;
  }

  &--warning {
    background-color: $warning;
    color: $background;
  }
}

.mat-button {
  &.active {
    color: mat-color($secondary);
    position: relative;
  }
}

.mat-card {
  background-color: rgba(0, 0, 0, 40%);
  box-shadow: -10px -10px 20px 10px rgba(0, 0, 0, 50%);
}

.mat-badge.hide-text .mat-badge-content {
  color: transparent;
}

.text-grey {
  color: #999;
}

.text-danger {
  color: mat-color($warn);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @media screen and (max-width: $md) {
    flex-direction: column;
  }
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.col-10-sm {
  @media screen and (max-width: $md) {
    width: 100%;
    min-width: 400px;
  }
}
