@import 'src/styles';
@import 'src/styles/theme';

* {
  box-sizing: border-box;
}

.desc-candidate-attrs {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-secondary-color;

  .desc-candidate-label {
    font-weight: 400;

    .desc-candidate-data {
      display: flex;
      align-items: center;

      .checkbox{
        color: $fade-blue;
        margin-right: 10px;
        display: flex;
        align-items: center;
    
        // ::ng-deep .mat-checkbox-frame {
        //   border-color: $fade-blue;
        //   border-width: 1px;
        // }
      }
    } 
  }
}