$primary-color: rgb(55, 111, 252);
$dark-back-color: rgb(10, 10, 10);
$light-back-color: rgb(121, 121, 121);
$error-color: rgb(121, 1, 1);
$box-inner-shadow: inset 0 0 10px rgba(255, 255, 255, 50%);
$height: 12vh;

* {
  box-sizing: border-box;
}

.desc-candidate-attrs {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  
  .desc-candidate-label {
    position: relative;

    .desc-candidate-data {
      border-radius: 5px;
      background-color: $dark-back-color;
      display: flex;
      padding: 10px;
      align-items: center;
      box-sizing: border-box;
    } 
  }
}

.final {
  border: 1px solid $light-back-color;
  border-radius: 5px;
} 