name: GitHub Pages

env:
  AWS_BUCKET_NAME: ${{secrets.AWS_BUCKET_NAME}}
  PROJECT_NAME: hr-automation-ui

on:
  push:
    branches:
      - develop
      - ci-cd

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        if: success()
        run: aws s3 sync ./dist/${{ env.PROJECT_NAME }} s3://${{ env.AWS_BUCKET_NAME }}
